button[type="button-red"] {
    width: 100%;
    background-color: red;
    color: white;
    padding: 14px 20px;
    /* margin: 8px 0; */
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  button[type="button-green"] {
    width: 100%;
    background-color: #4caf50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  button[type="button-blue"] {
    width: 100%;
    background-color: blue;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }